.git/
.gitignore
.github/
examples/
scripts/
docs/
tools/*
!tools/gguf_convert.cpp
!tools/model_manager_v2.py
build/
build*/
models/
reference/
logs/
resources/
.cache/
nocommit/
patches/
perf/
target_proj/
model_specs_v1/
*.md
*.wav
